h2 {
  width: 100vw;
  background-color: var(--violet);
  color: white !important;
  font-weight: 100 !important;
}

.all {
  font-size: 30px;
  color: var(--violet);
}

.bg {
  background-color: var(--orange);
}
